header {
    margin: 0 auto;
    padding-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.nav-link {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgba(26, 26, 26, 1);
    transition: all 0.2s;
}

.nav-link:before {
    content: "";
    left: 0;
    bottom: -3px;
    background-color: rgba(26, 26, 26, 1);
    width: 0;
    position: absolute;
    height: 1px;
    transition: all 0.2s;
}

.nav-link:hover:before {
    width: 100%;
}

.username a {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: rgba(26, 26, 26, 1);
}

.logout-link {
    color: darkred;
}
